.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }
  
  
.footer {
  background-color:#000080;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background:#3366ff;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  background-color: #ccd9ff;
  z-index: 0; }

.navbar-dark {
  background-color: #002699;
}

.modal-body {
  background-color:#ccd9ff;}

.modal-header {
  background-color: #002699; }
  .modal-header .close {
    color: floralwhite; }

.modal-title {
  color: floralwhite; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }
.word {
  color: floralwhite;
  
}

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

  #mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    right: -40px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 90px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 50px 0px 0px 50px; /* Rounded corners on the top right and bottom right side */
    display: flex;
    flex-direction: column;
    text-align:left;
    margin: 2px;
    
  }
  #mySidenav a i{
    margin-right:25px;
    
    text-align: center;
    
    padding-right: 40px;   
  }
  #mySidenav a:hover {
    right: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #google {
    top: 140px;
    
  }
  
  #fb {
    top: 200px;
     /* Blue */
  }
  
  #lin {
    top: 260px;
     /* Red */
  }
  #ins {
    top: 320px;
    /* Light Black */background-color: #8c6dc5
  }
  #twi {
    top: 380px;
    /* Light Black */
  }
  #you {
    top: 440px;
    /* Light Black */
  }
  #mail {
    top: 500px;
    background-color: #555/* Light Black */
  }

  div.gallery {
    border: 6px solid white;
    width: 100%;
    height:100%;
    padding: 2%;
    margin: 10%;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;
  }
  
  div.desc {
    padding: 1px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.2);
    background-color:rgb(255,255,255);
   
  width: 26%;
  max-height: 10%;
 
  margin-bottom: 16px;
  padding: 20 20px;
  margin-right: 4%;
  border-spacing: 10px;
  }
  
  